body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.A {
    font-size: larger;
    height: 100px;
    background-image: linear-gradient(to right,purple,blue);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-radius: 10px;
}

.B {
    font-size:larger;
    display: flex;
    gap: 15px;
    list-style: none;
    background-image: linear-gradient(to right, whitesmoke, lightgray);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.C {
    margin: 20px;
    font-size: large;
}

.D {
    color: white;
    background-image: linear-gradient(to right, rgb(110, 110, 110),black);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

}
