body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.a {
    font-size: larger;
    height: 100px;
    background-image: linear-gradient(to right,purple,indigo);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-radius: 10px;
}

.b {
    font-size: larger;
     display: flex;
    gap: 15px;
    list-style: none;
    background-image: linear-gradient(to right, whitesmoke, lightgray);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none;
}
a{text-decoration: none;}
.c {
    font-size: large;
    display: flex;
    gap: 20px;
}
img{width: 300px;
border-radius: 20px;}
.d{
    font-size: large;
    display: flex;
    gap: 20px;
}
.e{
    font-size: large;
    display: flex;
    gap: 20px;
}
.f {
    color: white;
    background-image: linear-gradient(to right, rgb(110, 110, 110), black);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}